<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mdbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Federico.Ramirez\Documents\Visual Studio 2010\Projects\Empty Web App Paradigma\Tests\db.mdb"/>
  </connectionStrings>
</configuration>